
/*////////////////////  внешний вид чекбокса ////////////////////*/
input[type="checkbox"] {
    display: none;
}
label {
    color: #000;
    cursor: default;
    font-weight: normal;
    line-height: 30px;
    vertical-align: middle;
}
label:before {
    content: " ";
    color: #000;
    display: inline-block;
    font: 20px/30px Arial;
    margin-right: 15px;
    position: relative;
    text-align: center;
    text-indent: 0px;
    width: 20px;
    height: 20px;
    background: #FFF;
    border: 2px solid #C9CED0;
    border-image: initial;
    vertical-align: middle;
}
input:checked + label:before {
    background-color: #4FB748;
    border-color: #4FB748;
    content: '\2713';
    line-height: 16px;
    color: white;
}

/*////////////////////  top_bar ////////////////////*/
.top_bar{
    height: 35px;
    background-color: #f7f7f7;
}
.top_bar span, .top_bar span a{
    font-size: 12px;
    color: #bababa;
    margin-left: 10px;
}

/*////////////////////  header ////////////////////*/
.header{
    height: 120px;
    background-color: #fbfbfb;
}
.line{
    border-right:2px solid #efefef;
    height: 80px;
    margin-top: auto;
}
.header img{
    margin-top: auto;
}
.basket{
    border: 3px solid #7f7e7e !important;
    height: 60px;
    border-radius: 20px;
    position: relative;
    float: right;
}
.basket img{
    position: absolute;
    left: 10px;
    bottom: 15px;
    background: url("img/star.png") no-repeat;
}
.basket span{
    margin-left: 30px;
    color: #7f7e7e;
}
.nav{
    height: 100px;
}
.nav a{
    color: #9d9d9d;
    margin-left: 40px;
    padding: 5px;
}

/*////////////////////  billboard ////////////////////*/
.billboard{
    height: 450px;
    background-color: #edecec;
    padding: 0;
}
.carousel-item img{
    height: 450px;
    width: 100%;
}

/*////////////////////  sorting_block ////////////////////*/
.sorting .container{
    height: 50px;
    padding-top: 5px;
    background-color: #fafafa;
    box-shadow: 1px 1px 1px rgba(0,0,0,0.5);
}
.search_wr{
    position: relative;
    width: 100% !important;
}
.search{
    margin-top: 1px;
    width: 100% !important;
    background-color: white;
}
input[type="search"]::placeholder{ 
    color: black; 
} 
.search_wr img{
    position: absolute;
    right: 7px;
    top: 8px;
}
/*////////////////////  content ////////////////////*/
.content .container{
    margin-top: 15px;
    background-color: #fafafa;
    box-shadow: 0 0.5px 1px rgba(0,0,0,0.5);
}
.item{
    height: 510px;
    padding-top: 15px;
}
.item img{
    background-repeat: no-repeat;
    width: 100%;
    height: 350px;
}
.promotional_price{
    font-size: 18px;
    font-weight: bold;
}
/* .current_price{
    font-size: 14px;
    color: #717d84;
} */
.price_wr{
    margin-top: 15px;
}
.price{
    margin: auto;
    font-weight: bold;
    font-size: 18px;
    margin-left: 0;
}
.line-through{
    text-decoration: line-through;
}
.title_item{
    line-height: 1.4;
    overflow: hidden;
    margin-top: 15px;
}
.more{
    margin-top: 15px;
    margin-bottom: 20px;
}
.btn_more{
    background-color: none;
    background-color: gainsboro;
}

/* Фильтры */
.bottom_line{
    margin-top: 10px;
    /* border-bottom:1px solid rgba(0,0,0,0.12);; */
}
.title_type{
    margin-left: 10px;
}
.form-check{
    margin-top: 15px;
}
.form-check-input{
    margin-left: 0px;
}
.scroll-bar{
    margin-top: 25px;
    height: 300px;
    overflow: scroll;
    overflow-x:hidden;
    margin-bottom: 15px;
}
.form-control{
    width: 60px;
}
.lines{
    padding-top: 10px;
    margin: auto;
    width: 90%;
    border-bottom: 1px solid lightgray;
}
.input-group-text{
    background-color: #fff;
}
.input-group{
    margin-left: 15px;
    margin-top: 15px;
    width: 92%;
}

/*////////////////////  Отсутствующий товар ////////////////////*/
.img_wr{
    position: relative;
}
.unavailable_filter{
    filter: grayscale(0.51);
}
.unavailable{
    right: 0;
    top: 20px;
    position: absolute;
    width: 95px;
    height: 30px;
    background-color: grey;
    z-index: 3;
}
.unavailable::after{
    content: ''; 
    position: absolute; /*Абсолютное позиционирование*/
    left: -20px; 
    top: 0px; /* Положение треугольника */
    border: 10px solid transparent;
    border-top: 10px solid grey; 
    border-right: 10px solid grey; 
}
.unavailable::before{
    content: ''; 
    position: absolute; /* Абсолютное позиционирование */
    left: -20px; 
    bottom: 0px; /* Положение треугольника */
    border: 10px solid transparent; 
    border-right: 10px solid grey; 
    border-bottom: 10px solid grey; 
}
.unavailable .text{
    color: white;
    text-shadow: 0px 0px 0.5px white;
    margin-top: 1px;
}

/* Cкидка */
.sale{
    right: 0;
    top: 20px;
    position: absolute;
    width: 70px;
    height: 30px;
    background-color: lightcoral;
    z-index: 2;
}
.sale::after{
    content: ''; 
    position: absolute; /* Абсолютное позиционирование */
    left: -20px; 
    top: 0px; /* Положение треугольника */
    border: 10px solid transparent;
    border-top: 10px solid lightcoral; 
    border-right: 10px solid lightcoral; 
}
.sale::before{
    content: ''; 
    position: absolute; /* Абсолютное позиционирование */
    left: -20px; 
    bottom: 0px; /* Положение треугольника */
    border: 10px solid transparent; 
    border-right: 10px solid lightcoral; 
    border-bottom: 10px solid lightcoral; 
}
.sale .percent{
    color: white;
    text-shadow: 0px 0px 0.5px black;
    margin-left: 20px;
    margin-top: 1px;
}

/*////////////////////  Рейтинг ////////////////////*/
.star{
    margin-right: px;
    color: gold;
}   
.active_star{
    color: brown;
}
.stars_container{
    position: absolute;
    width: 85%;
    bottom: 0px;
    padding-bottom: 10px;
}
.star_btn{
    border: none; 
    outline: none;
    background-color: #fafafa;
}
.star_btn:focus{
    outline: none;
}
.number_ratings{
    float: right;
}
/*////////////////////  footer ////////////////////*/
.footer{
    /* margin-top: 15px; */
    font-size: 18px;
    height: 300px;
    background-color: #1D1D1E;
    color: white;
}
.footer_title{
    color: rgb(98, 111, 119);
}
.footer_wr{
    margin-top: 30px;
}
.footer span{
    margin-top: 10px;
}
.title_social_network{
    float: left;
}
.social_network_icon{
    float: right;
}

/*////////////////////  Тонкая настройка для разных мониторов ////////////////////*/
/* Экстрамалые девайсы («телефоны», < 576px) */
@media (min-width: 0px) {
    .basket{
         width:70px;
    }
    .basket img{
        left: 15px;
        bottom: 15px;
    }
    .nav a{
        margin-left: 0px;
    }
    .billboard{
        height: 250px; 
    }
    .carousel-item img{
        height: 250px;
    }
    .img_container img{
        width: 80%;
    }
    .item img{
        width: 80%;
    }
    .social_network_wr{
        flex-direction: row;
    }
    .social_network_icon{
        margin-left: 10px;
    }
    .billboard{
        height: 250px;
    }
    .carousel-item img{
        height: 250px;
    }
    .carousel-item img{
        height: 250px;
    }
}
/* Малые девайсы («ландшафтные телефоны», >= 576px) */
@media (min-width: 576px) {
    .basket{
        width:70px;
        margin-top: auto;
    }
    .item img{
        width: 100%;
    }
    .basket img{
        left: 15px;
        bottom: 15px;
    }
    .nav a{
        margin-left: 40px;
    }
    .billboard{
        height: 350px;
    }
    .carousel-item img{
        height: 350px;
    }
    .img_container img{
        width: 100%;
    }
}

/* Средние девайсы («таблетки», >= 768px) */
@media (min-width: 768px) {  
    .nav a{
        margin-left: 10px !important;
     }
     .line{
         height: 70px;
     }
     .basket{
         width: auto;
     }
     .basket img{
         left: 6px;
     }
     .social_network_wr{
        flex-direction: column;
    }
    .footer_iconblock{
        justify-content: end;
    }
    .billboard{
        height: 400px;
    }
    .carousel-item img{
        height: 400px;
    }
}

/* Большие девайсы (десктопы, >= 992px) */
@media (min-width: 992px) {
    .nav a{
        margin-left: 40px !important;
     }
     .line{
        margin-top: 15px;
     }
}
/* Экстрабольшие девайсы (большие десктопы, >= 1200px) */
@media (min-width: 1200px) {

}
