<footer class="footer">
    <div class="container">
      <div class="row">
        <div class="d-none d-md-block col-md-4">
          <div class="footer_wr d-flex flex-column">
            <span class="footer_title ">Ссылки</span>
            <span><a href="">Главная</a></span>
            <span><a href="">Акции</a></span>
            <span><a href="">О нас</a></span>
            <span><a href="">Поддержка</a></span>
          </div>
        </div>
        <div class="col-6 col-md-4 d-flex justify-content-center">
          <div class="footer_wr d-flex flex-column">
            <span class="footer_title">Информация</span>
            <span><a href="">Об интернет-магазине</a></span>
            <span>Кривой Рог, проспект Гагарина, 24</span>
            <span> +380(97)716-12-50</span>
            <span>kingsize@gmail.com</span>
          </div>
        </div>
        <div class="col-6 col-md-4 d-flex justify-content-sm-center justify-content-md-end">
          <div class="footer_wr d-flex flex-column">
            <span class="footer_title">Мы в соцсетях</span>

            <div class="social_network_wr d-flex">
              <span><a href=""><span class="d-none d-md-block title_social_network">facebook</span><img src="public/img/facebook_icon.png" alt="" class="social_network_icon"></a></span>
              <span><a href=""><span class="d-none d-md-block title_social_network">youtube</span><img src="public/img/you-tube_icon.png" alt="" class="social_network_icon"></a> </span>
              <span><a href=""><span class="d-none d-md-block title_social_network">instagram</span><img src="public/img/instagram_icon.png" alt="" class="social_network_icon"></a></span>
            </div>
          </div>
        </div>
      </div>
    </div>
  </footer>