<!-- top-bar -->
<div class="top_bar ">
    <div class="container">
      <div class="row justify-content-end align-items-center top_bar">
        <div class="col-xl-3 text-right d-none">
          <span>Добро пожаловать: </span>
          <span>Гость</span>
        </div>
  
        <div class="col-12 text-right">
          <!-- тут работать с регистрацией -->
          <a href="/registration"><span>Зарегистрироваться</span></a>
          <a href="#"><span>Авторизоваться</span></a>
        </div>
      </div>
    </div>
  </div>
  
    <header class="header">
      <div class="container">
        <div class="row align-items-center">
  
          <div class="col-6 col-5 col-sm-5 col-md-3">
            <div class="row align-items-center">
              <div class="col-12 col-sm-10">
                <img src="public/img/Logo.png" alt="Лого" class="img-fluid rounded mx-auto d-block logo">
              </div>
              <!-- Вертикальная линия, которая пропадает на <576 уровне -->
              <div class="col-sm-2 d-none d-sm-block">
                <div class="line"></div>
              </div>
            </div>
          </div>
  
          <nav class="nav col-3 col-sm-5 col-md-7 ">
            <div class="row align-items-center">
              <div class="col-sm-10 col-md-12">
                <a href="/">Главная</a>
                <a href="">Акции</a>
                <br class="d-md-none">
                <a href="">О нас</a>
                <a href="">Поддержка</a>
              </div>
              <!-- Вертикальная линия, которая пропадает на <576 уровне -->
              <div class="col-sm-2 d-none d-sm-block d-md-none">
                <div class="line"></div>
              </div>
            </div>
          </nav>
  
          <div class="col-3 col-sm-2 col-sm-2">
            <button type="button" class="btn btn-light basket"><img src="public/img/basket.png" alt=""><span
                class="d-none d-md-block">Корзина</span></button>
          </div>
  
        </div>
      </div>
    </header>