<!-- top-bar -->
<div class="top_bar ">
    <div class="container">
      <div class="row justify-content-end align-items-center top_bar">
        <div class="col-xl-3 text-right d-none">
          <span>Добро пожаловать: </span>
          <span>Гость</span>
        </div>
  
        <div class="col-12 text-right">
          <!-- тут работать с регистрацией -->
          <a href="/register" class="register"><span>Зарегистрироваться</span></a>

          <!-- <a href="</login"> class="login"> <span>Авторизоваться</span></a> -->
               <a href="#openModal" class="login"> <span>Авторизоваться</span></a>
        </div>
      </div>
    </div>
  </div>
  
    <header class="header">
      <div class="container">
        <div class="row">
  
          <div class="logo col-6 col-sm-5 col-md-3 align-self-center">
            <img src="public/img/Logo.png" alt="Лого">
          </div>
  
          <nav class="col-3 col-sm-5 col-md-7 d-flex align-items-end justify-content-center">
            <div class="search_wr">
              <input type="search" class="form-control search" id="inlineFormInputGroupUsername2" placeholder="Поиск товара">
              <div class="search_icon_wr" onclick="search()">
                <img src="public/img/icon_search.svg" alt="">
              </div>
            </div>
          </nav>
  
          <div class="col-3 col-sm-2 col-md-2 align-self-center">
            <button type="button" class="btn btn-light basket"><img src="public/img/basket.png" alt=""><span class="d-none d-md-block">Корзина</span></button>
          </div>
  
        </div>
      </div>
    </header>