<!DOCTYPE html>
<html lang="en">
<head>
  <title>Sweets Downtown</title>
  <meta charset="utf-8">
  
  <!--Нужен для маштабирования на разных устройствах-->
  <meta name="viewport" content="width=device-width, initial-scale=1, shrink-to-fit=no">
  <link rel="shortcut icon" href="public/img/favicon.ico" type="image/ico">
  <link rel="stylesheet" href="public/css/bootstrap.min.css">
  <link rel="stylesheet" href="public/css/style_sass.css">
  <link href="public/font-awesome/css/all.css" rel="stylesheet">
</head>
<body>

<div id="openModal" class="modalDialog">
      <div>
        <h1>Вход</h1>
        <form action="/" method="POST">
          <div class="d-flex flex-column">
            <label for="email">Эл. почта</label>
            <input type="email" id="email" name="email" required>
          </div>
          <div class="d-flex flex-column">
            <label for="password">Пароль</label>
            <input type="password" id="password" name="password" required>
          </div>

          <label for="" id="error_message"></label>

          <button type="submit">Войти</button>
        </form>
        <a href="/register">Register</a>
      </div>
  </div>

<%- include("modules/header.ejs") %>

<div class="nav">
<div class="container">
  <div class="row">
    <div class="col-12">
      <ul class="d-flex justify-content-between no-margin">
        <li >Торты</li>
        <li>Конфеты</li>
        <li>Конфеты</li>
        <li>Жевательные конфеты</li>
        <li>Мучные изделия</li>
        <li>Паста</li>
        <li>Зефир и мармелад</li>
        <li>Варенье и джемы</li>
        <li>Мёд</li>
      </ul>
    </div>
  </div>
</div>
</div>

<div class="about_us">
  <div class="container no-margin">
    <div class="row">
      <div class="col-6">
      <iframe width="560" height="315" src="https://www.youtube.com/embed/b_hDOHmF9nE" frameborder="0" allow="accelerometer; autoplay; encrypted-media; gyroscope; picture-in-picture" allowfullscreen></iframe>
      </div>
      <div class="col-6">
      <h1>Sweets Downtown</h1>
      Интернет магазин конфет SweetsDowntown - это лучшее место, где Вы можете купить сладости оптом и в розницу!
      Также мы осуществляем доставку сладостей в офисы, бизнес-центры, различные организации, также для кофе-брейков, праздников - в город Кривой Рог. По Украине мы пользуемся услугами внешних транспортных компаний и с радостью выполним Ваш заказ в оговоренные сроки и практически в любых объемах. 
      </div>
    </div>
  </div>
</div>

<div class="line">
  <div class="container no-margin">
    <div class="row">
      <div class="col-12">
        <h2 class="title"><span>Рекомендуемый товар</span></h2>
      </div>
    </div>
  </div>
</div>

<div class="billboard">
  <div class="container">
    <div class="row">
      <div class="col-12 no-margin">
        <div class="slider">
          <div class="slider__wrapper">
            <div class="slider__item">           
                <div>
                  <img src="public/img/Товар/1.png" alt="">
                  <b>Lotte Wedel</b>
                </div>     
            </div>
            <div class="slider__item">
              <div>
                <img src="public/img/Товар/2.png" alt="">
                <b>Grand Praline</b>
              </div>  
            </div>
            <div class="slider__item">
              <div>
                <img src="public/img/Товар/3.png" alt="">
                <b>Вафельные конфеты</b>
              </div>  
            </div>
            <div class="slider__item">
              <div>
                <img src="public/img/Товар/5.png" alt="">
                <b>Mister Cho</b>
              </div>  
            </div>
            
            <div class="slider__item">
              <div class="d-flex flex-column">
                <img src="public/img/Товар/6.png" alt="">
                <b>Milk Baci Bijou</b>
              </div>  
            </div>
            <div class="slider__item">
              <div>
                <img src="public/img/Товар/7.png" alt="">
                <b>ЛогинСсмак</b>
              </div>  
            </div>
            <div class="slider__item">
              <div>
                <img src="public/img/Товар/4.png" alt="">
                <b>Neuhaus</b>
              </div>  
            </div>
          </div>
          <a class="slider__control slider__control_left" href="#" role="button"></a>
          <a class="slider__control slider__control_right slider__control_show" href="#" role="button"></a>
        </div>
      </div>
    </div>
  </div>
</div>

<div class="line">
  <div class="container no-margin">
    <div class="row">
      <div class="col-12">
          <h2 class="title"><span>Категории магазина</span></h2>
      </div>
    </div>
  </div>
</div>

   <!-- Категории_плитками -->

<div class="tiles_categories">
  <div class="container">
    <div class="row">
      <div class="col-6">
        <div class="item">
          <div class="photo_wr">
            <img src="../public/img/Фото_фильтра/chocolate.jpg" alt="">
          </div>
          <div class="title_item">Шоколад</div>
        </div>
      </div>
      <div class="col-6">
        <div class="item">
          <div class="photo_wr">
            <img src="../public/img/Фото_фильтра/candy.jpg" alt="">
          </div>
          <div class="title_item">Конфеты</div>
        </div>
      </div>
      <div class="col-6">
        <div class="item">
          <div class="photo_wr">
            <img src="../public/img/Фото_фильтра/cake.jpg" alt="">
          </div>
          <div class="title_item">Торты</div>
        </div>
      </div>
      <div class="col-6">
        <div class="item">
          <div class="photo_wr">
            <img src="../public/img/Фото_фильтра/chocolate_soda.jpg" alt="">
          </div>
          <div class="title_item">Шоколадные напитки</div>
        </div>
      </div>
    </div>
  </div>
</div>


<div class="line">
  <div class="container no-margin">
    <div class="row">
      <div class="col-12">
          <h2 class="title"><span>Ассортимент сладостей</span></h2>
      </div>
    </div>
  </div>
</div>
<!--//////////////////// content ////////////-->

<div class="content">
  <div class="container">
    <div class="row">

      <!-- Окно с фильтрами -->
      <div class="d-none d-md-block col-3 filter_container">

          <span class="about">Фильтры товаров</span>    
          
          <div class="title d-flex justify-content-between align-items-center" onclick="show_hide('filter_brand')">
            <b>Бренды</b>
            <i class="fa fa-chevron-up" aria-hidden="true"></i>
          </div>

          <div class="filter_brands" id="filter_brand">
            <div class="input-group">
              <input type="text" class="form-control" id="inlineFormInputGroupUsername2" placeholder="Поиск фильтра">
            </div>
            <div class="scroll-bar no-margin">
              <ul>
                <li>
                    <input class="form-check-input" type="checkbox" value="" id="defaultCheck3">
                    <label class="form-check-label label_checkbox" for="defaultCheck3">
                      Lindt
                    </label>
                </li>
                <li>
                    <input class="form-check-input" type="checkbox" value="" id="defaultCheck4">
                    <label class="form-check-label label_checkbox" for="defaultCheck4">
                      Milka
                    </label>
                </li>
                <li>
                    <input class="form-check-input" type="checkbox" value="" id="defaultCheck5">
                    <label class="form-check-label label_checkbox" for="defaultCheck5">
                      Millenium
                    </label>
                </li>
                <li>
                    <input class="form-check-input" type="checkbox" value="" id="defaultCheck6">
                    <label class="form-check-label label_checkbox" for="defaultCheck6">
                      Roshen
                    </label>
                </li>
                <li>
                    <input class="form-check-input" type="checkbox" value="" id="defaultCheck7">
                    <label class="form-check-label label_checkbox" for="defaultCheck7">
                      Spell
                    </label>
                </li>
              </ul>
            </div>
          </div>

      </div>

      <!-- Окно товаров и фильтра -->
      <div class="col-12 col-md-9 no-margin">

       

        <div class="item_container" id="items_container">

          <div class="filter_menu">
            <div class="dropdown mr-3 "> 
              <span>Сортировать :</span>
              <select name="" id="" class="select_color">
               <option value="rank">по рейтингу</option>
               <option value="cheap">от дешевых к дорогим</option>
               <option value="expensive">от дорогих к дешевым</option>
               <option value="action">по акционным</option>
              </select>
             </div> 
          </div>

          <div class="col-sm-6 col-md-4 item">
            
            <div class="info d-flex justify-content-between">
              <span class="code_item">Код товара: 1951</span>
              <span class="status">В наличии</span>
            </div>

            <div class="img_wr">
              <img id="" src="public/img/item_1.png" alt="">
            </div>

            <div class="stars_container">
              <i class="star fas fa-star star_btn"></i>
              <i class="star far fa-star star_btn"></i>
              <i class="star far fa-star star_btn"></i>
              <i class="star far fa-star star_btn"></i>
              <i class="star far fa-star star_btn"></i>
              <span class="number_ratings">Отзывов: 0</span>
            </div>

            <div class="title_wr">
              <!-- <span class="title_item"><b>Twix •</b></span> -->
              <span class="name_item">Набор из 32-х батончиков с арахисом.</span>
            </div>

            <div class="block_price d-flex justify-content-between align-items-center">
              <div class="price_wr d-flex">
                <!-- <div class="price">
                  120грн
                </div> -->
                <span class="promotional_price">95грн</span>
                <span class="line-through_price">181 грн</span>
              </div>
              <div class="btn_wr">
                <button type="button" class="btn btn-secondary btn_buy">В корзину</button>
              </div>
            </div>

            <div class="additional_information">
              <span class="font-weight-bold">Тип изделия: <span class="font-weight-normal">Бумажная</span></span>
              
              <span class="font-weight-bold">Упаковка: <span class="font-weight-normal">Напиток</span></span>
              
              <span class="font-weight-bold">Производитель: <span class="font-weight-normal">Twix</span></span>
                    
              <span class="font-weight-bold">Cтрана-производитель: <span class="font-weight-normal">Украина</span></span>
                    
              <span class="font-weight-bold">Особенности: <span class="font-weight-normal">Без ГМО, Диетические</span></span>
            </div> 
            
          </div>
        </div>
      </div>
    </div>
  </div>
</div>


<!-- <div class="block_more">
  <div class="container">
    <div class="row">
      <div class="col-2"></div>
      <div class="col-10 no-margin d-flex justify-content-center more">
        <button type="button" class="btn btn_more">Показать еще</button>
      </div>
    </div>
  </div>
</div> -->


<%- include("modules/footer.ejs") %>
<script src="../public/js/s"></script>
<script src="../public/js/slider.js"></script>
<!-- <script src="../public/js/generator.js"></script> -->
<script src="../public/js/main.js"></script>
<script src="../public/https://kit.fontawesome.com/c4ee3c753d.js" crossorigin="anonymous"></script>
<script src="../public/js/jquery-3.2.1.js"></script>
<script src="../public/js/popper.min.js"></script>
<script src="../public/js/bootstrap.min.js"></script>

</body>

</html>